* {
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;
}

body {
  background-color: #222;
  color: white;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

h2 {
  color: orange;
  margin-top: 24px;
  font-weight: 600;
  line-height: 1.25;
}

address, section {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: 600;
}

img {
  border-radius: 75%;
}

.header {
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile{
  display: inline-block;
  width: 15em;
}

#name{
  display: inline-block;
  padding: auto;
  width: 15em;
}

code {
  color: green;
}
